html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: #fff;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ae7c78;
  padding-top: 26px;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
p,
figure,
fieldset,
figcaption {
  margin: 0;
}

.header {
  height: 64px;
  display: grid;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid #ae7c78;
  border-bottom: 1px solid #ae7c78;
}

.header__navbar {
  width: 1200px;
  margin: 0 auto;
}

.header__navbar-menu {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar__menu-item {
  display: flex;
  margin: 0;
  align-items: center;
}

.navbar__menu-link {
  text-decoration: none;
}

.logo {
  border: none;
  margin: 0 62px;
}
